nbproject/
test.php
core/config/common.config.php
plugins
deployment-config.json
.project
.idea/*
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
